[init]
defaultBranch = main

[user]
name = Todd Moore
email = 11851685+tamoore@users.noreply.github.com
signingkey = 26D4F54500B95E5D

[commit]
gpgsign = true

[pull]
rebase = true

[alias]

# Resigns commits to a certain HASH
resign = "!re() { git rebase --exec 'git commit --amend --no-edit -n -S' -i $1; }; re"

# Pushes to origin HEAD
poh = "!re() { git push origin HEAD; }; re"

# Pulls from origin HEAD
plh = "!re() { git pull origin HEAD; }; re"

# Adds all
ada = "!re() { git add .; }; re"

# Show the pretty graph
glog = "!re() { git log --oneline --graph --decorate; }; re"

# Add chunks
ap = "!re() { git add -p .; }; re"

# Run go benchmarks
gbm = "!re() { go test -bench \"^(Benchmark*)\" ./...; }; re"

# Commit with message
com = "!re() { git commit -em \"$1\"; }; re"

# Commit with message
coa = "!re() { git commit --amend }; re"

# Run all go tests
got = "!re() { go test ./... $1; }; re"

# Run precommit file
rpc = "!re() { $HOME/.githooks/pre-commit; }; re"

co = checkout
st = status
br = branch