[user]
name = Todd Moore
email = 11851685+tamoore@users.noreply.github.com
signingkey = 26D4F54500B95E5D

[commit]
gpgsign = true
[pull]
rebase = true

[alias]
# Resigns commits to a certain HASH
resign = "!re() { git rebase --exec 'git commit --amend --no-edit -n -S' -i $1; }; re"

# Pushes to origin HEAD
poh = "!re() { git push origin HEAD; }; re"

# Pulls from origin HEAD
plh = "!re() { git pull origin HEAD; }; re"

# Adds all
ada = "!re() { git add .; }; re"

# Add shortcut for status
st = "!re() { git status; }; re"

glog = "!re() { git log --oneline --graph --decorate; }; re"
